# smart-contract/.env
# YAHAN APNI VALUES DAALO — YEH FILE GITIGNORE MEIN HAI

https://sepolia.infura.io/v3/7db0995db2dd40df8e244dc903bb316b
PRIVATE_KEY=0x89f7e967847beeb80ea8da682dc367d5322f89cf455212a7fd75648dd78305e8
CONTRACT_ADDRESS=
ETHERSCAN_API_KEY=
